<!DOCTYPE html>
<html>

<head>
    <title>Humphries</title>

    <!-- Metadata -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="sandbox, humphries">
    <meta name="Author" content="Patrick Humphries">
    <meta http-equiv="charset" content="utf-8">
    <meta http-equiv="content-type" content="text/html">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- U.S.C. Styles -->
    <link rel="stylesheet" type="text/css" href="/viterbi.css" />
    <!-- <link rel="stylesheet" type="text/css" href="https://humphries-inf554.s3-us-west-1.amazonaws.com/viterbi_3.css" /> -->
    <link rel="shortcut icon" href="https://www.usc.edu/favicon.ico" />
    <link rel="favicon" href="https://www.usc.edu/favicon.ico" />

</head>

<body>
    <!-- Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div class="container-fluid">

        <!-- Banner -->
        <div class="row cardinal_background">
            <div class="col-sm-2 cardinal project_name">
                <img src="https://vsoeapp1.vsoe.usc.edu/images/USC-Bar-cardinal.gif">
                <br />
            </div>
            <div class="col-sm-8 cardinal_background project_name">
                Patrick Humphries
            </div>
            <div class="col-sm-2 cardinal_background bootcamp_name">
                <p class="gold">Patrick Humphries, M.B.A.
                    <br />
                    INF 554: Information Visualization
                    <br />
                    August 2019
                </p>
            </div>
        </div>

        <!-- Links -->
        <div class="row">
            <div calass="col-sm-4">
                <fieldset>
                    <legend>Index</legend>
                    <ul>
                        <li><a target="_blank" href="/Assignment%2001/index.html">Assignment 1</a></li>
                        <li><a target="_blank" href="/Assignment%2002/index.html">Assignment 2</a></li>
                        <li><a target="_blank" href="/oops.html">Oops!</a></li>
                        <li><a target="_blank" href="/bummer.html">Bummer!</a></li>
                        <li><a target="_blank" href="/dummy.html">HTML 404 Test</a></li>
                    </ul>
                </fieldset>
            </div>
        </div>

    </div>

</body>

</html>